.App {
  text-align: center;
}

.App .result {
  padding: 0 2rem;
}

ul {
  margin-top:0;
}

.App .navbar {
  text-align: left;
}

.App code {
  margin-top: -1rem;
}

.App pre {
  color: inherit;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.App .math-select {
  margin-top: 2.9rem;
}

.App .calc-result {
  font-size: 2rem;
}
